version: "3.9"

services:

  api:
    build:
      context: ../../backend
      dockerfile: ../infrastructure/docker/Dockerfile.backend
    ports:
      - "5000:5000"
    env_file:
      - ../../backend/.env
    depends_on:
      - redis
    restart: always

  worker:
    build:
      context: ../../backend
      dockerfile: ../infrastructure/docker/Dockerfile.backend
    command: node src/jobs/reminder.worker.js
    env_file:
      - ../../backend/.env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    restart: always

  frontend:
    build:
      context: ../../frontend
      dockerfile: ../infrastructure/docker/Dockerfile.frontend
    ports:
      - "3000:80"
    restart: always
