version: "3.9"

services:
  api:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis

  worker:
    build: ./backend
    command: node src/workers/index.js
    env_file:
      - ./backend/.env
    depends_on:
      - redis

  redis:
    image: redis:7
    ports:
      - "6379:6379"
